.homepage{
    width: 100%;
    background:linear-gradient(to bottom,#111,#555,#333,#555,#333,#444);
}
.ad{
    padding: 0px 0px 40px;
}
.ad .item{
    position: relative;
}
.ad .item .text{
    display: inline-block;
    width: 55%;
    padding-left: 5%;
    position: absolute;
    top: 50%;
    margin: auto;
}
.ad .item h2{
    font-size: 20px;
    padding-bottom: 1em;
    color: #fff;
}
.ad .item p{
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 1.5;
    padding-bottom: 1em;
    color: #ccc;
    display: none;
}
.ad .item .button a{
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    border-radius: 10px;
    padding: 5px 15px;
}
.ad .item .button a{
    background-color: #8888 ;
    border:1px solid #8888;
}
.ad .item .button a:first-child:hover{
    background-color: #E07048 ;
}
@media screen and (min-width:768px) {
    .owl-stage-outer{
        max-width: 1400px;
        width: 90%;
    }
    .owl-carousel .owl-item img{
        max-width: 80%;
        margin: auto;
        /*我不知道為什麼*/
    }
    .ad .item .text{
        width: 30%;
        top: 25%;
        left: 8%;
    }
    .ad .item p{
        display: block;
    }
    .ad .item .button a{
        font-size: 18px;
    }
    .ad .item h2{
        font-size: 20px;
    }
    .ad .item p{
        font-size: 14px;
    }
}
@media screen and (min-width:1200px){
    .ad .item .text{
        width: 30%;
        top: 50%;
        left: 10%;
    }
    .ad .item h2{
        font-size: 30px;
    }
    .ad .item p{
        font-size: 18px;
    }
    .search.active {
        width: 250px;
    }
}
.belief{
    padding:50px 0px 80px;
}
.belief h2{
    text-align: center;
    color: #ddd;
    font-size: 36px;
    padding: 0px 0px 40px;
}
.belief .item{
    margin: auto;
    padding: 20px 0px;
}
.belief a{
    display: inline-block;
    width: 150px;
}
.belief img{
    width: 100%;
    transition: 1s;
}
.logo_sony:hover {
    content: url('../IMG/Logo_sony_hover.png');
    transform: scale(1.1);
}
.logo_canon:hover{
    content: url('../IMG/Logo_canon_hover.png');
    transform: scale(1.1);
}
.logo_nikon:hover{
    content: url('../IMG/Logo_nikon_hover.png');
    transform: scale(1.1);
}
.logo_fujifilm:hover{
    content: url('../IMG/Logo_fujifilm_hover.png');
    transform: scale(1.1);
}
.logo_gopro:hover{
    content: url('../IMG/Logo_gopro_hover.png');
    transform: scale(1.1);
}
.logo_olympus:hover{
    content: url('../IMG/Logo_olympus_hover.png');
    transform: scale(1.1);
}
.logo_hasselblad:hover{
    content: url('../IMG/Logo_hasselblad_hover.png');
    transform: scale(1.3);
}
.logo_lumix:hover{
    content: url('../IMG/Logo_lumix_hover.png');
    transform: scale(1.1);
}
.logo_sigma:hover{
    content: url('../IMG/Logo_sigma_hover.png');
    transform: scale(1.1);
}
.logo_dji:hover{
    content: url('../IMG/Logo_dji_hover.png');
    transform: scale(1.1);
}
.logo_tamron:hover{
    content: url('../IMG/Logo_tamron_hover.png');
    transform: scale(1.1);
}
.logo_leica:hover{
    content: url('../IMG/Logo_leica_hover.png');
    transform: scale(1.1);
}
.type{
    padding:50px 0px 150px;
}
.type .col-6{
    margin-bottom: 50px;
}
.type h2{
    text-align: center;
    color: #ddd;
    font-size: 36px;
    padding: 0px 0px 40px;
}
.type a{
    margin: auto;
    text-decoration: none;
}
.type .item{
    width: 150px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    border-top-right-radius: 50px;
    background-color: #6668;
    position: relative;
    transition: .1s;
}
.type .item:hover{
    transform: scale(1.1);
    background-color: #E07048;
    position: relative;
}
.type .pic{
    width: 100px;
    position: absolute;
    top: -20%;
    left: 50%;
}
.camera .pic{
    width: 130px;
    top: -20%;
    left: 30%;
}
.actioncamera .pic{
    width: 130px;
    top: -20%;
    left: 40%;
}
.drone .pic{
    width: 130px;
    top: -5%;
    left: 30%;
}
.type .pic img{
    vertical-align: middle;
    width: 100%;
}
.type .txt{
    padding-left: 10%;
    position: relative;
    z-index: 200;
}
.type h3{
 color: #ddd;
 font-size: 20px;
}

@media screen and (min-width:768px) {
    .type .item{
        width: 200px;
        margin-top: 50px;
    }
    .type .pic{
        width: 150px;
        position: absolute;
        top: -50%;
        left: 50%;
    }
    .camera .pic{
        width: 160px;
        top: -30%;
        left: 30%;
    }
    .actioncamera .pic{
        width: 160px;
        top: -20%;
        left: 40%;
    }
    .drone .pic{
        width: 160px;
        top: -5%;
        left: 30%;
    }
}
.product{
    padding:50px 0px 200px;
}
.product  h2{
    text-align: center;
    color: #ddd;
    font-size: 30px;
    padding: 0px 0px 100px;
}
@media screen and (min-width:768px) {
    .product h2{
        font-size: 36px;
    }
    .product .more a{
        font-size:24px;
    }
}
article{
     margin-bottom: 80px;
     position: relative;
 }
.article  h2{
    text-align: center;
    color: #ddd;
    font-size: 36px;
    padding: 0px 0px 40px;
}
article .pic{
     width: 100%;
 }
.sunmoonlake .pic::before{
    content: '';
    width: 80%;
    height: 50%;
    border:5px solid #bd603e;
    position: absolute;
    right: 40%;
    bottom: 10%;
}
.sixtymt .pic::before{
    content: '';
    width:80%;
    height:50%;
    border:5px solid #bd603e;
    position: absolute;
    right: -8%;
    bottom: 16%;
}
article .pic img{
     width: 100%;
     position: relative;
     z-index: 100;
}
article .text{
    position: relative;
    z-index: 100;
}
article .text h3{
    display: inline-block;
    color: #fff;
    font-size: 20px;
    padding:0.2em 0 1em ;
}
article .text p{
    color: #ccc;
    font-size: 14px;
    line-height: 1.8;
}
article .readmore{
    display: flex;
    flex-direction: row-reverse;
}
article .readmore a{
   text-decoration: none;
   font-size:12px;
   color: #fff;
   background-color: #1115;
   border-radius: 10px;
   padding: 5px 10px;
   box-sizing: border-box;
}
article .readmore a:hover{ 
    color: #222;
    background-color: #fff;
 }
.article .more{
    display: flex;
    margin: auto;
}
.article .more a{
   text-decoration: none;
   font-size:18px;
   color: #fff;
   background-color: #000;
   border-radius: 10px;
   padding: 5px 20px;
}
.article .more a:hover{ 
    color: #222;
    background-color: #fff;
}
 @media screen and (min-width:768px) {
    article{
        display: flex;
        align-items: center;
    }
    .article .col-md-12:nth-child(even) article{
        flex-direction: row-reverse;
    }
    article .pic{
        width: 50%;
    }
    article .text{
        width: 50%;
        padding: 10px;
        box-sizing: border-box;
    }
    .sunmoonlake .pic::before{
        content: '';
        width: 30%;
        height: 80%;
        border:8px solid #bd603e;
        position: absolute;
        right: 20%;
        bottom: 10%;
    }
    .sixtymt .pic::before{
        content: '';
        width:60%;
        height:80%;
        border:8px solid #bd603e;
        position: absolute;
        right: 20%;
        bottom: -10%;
    }
}
 @media screen and (min-width:1200px) {
    article .text h3{
        font-size: 24px;
    }
    article .text p{
        font-size: 18px;
    }
    article .readmore a{
        font-size:16px;
     }
}