.detailpage{
    width: 100%;
    background:linear-gradient(to bottom,#111,#555,#333,#555,#333,#444);
}
.productdetail{
    width: 100%;
    margin: auto;
    position: relative;
}
.productdetail .wrap{
    width: 90%;
    padding-top: 10%; 
    padding-bottom:10%;
    margin: auto;
    box-sizing: border-box;
    position: relative;
}
.productdetail .recomand{
    width: 90%;
    margin: auto;
}
.breadpath{
    position: absolute;
    top: 1%;
    z-index: 10000;
}
.breadpath ol{
    display: flex;
}
.breadpath ol li{
    color: #fff;
    list-style: none;
    flex-shrink: 0;
}
.breadpath ol li a{
    text-decoration: none;
    color: #ddd6;
    font-size: 10px;
    vertical-align: middle;
}
.breadpath ol li a:hover{
    color: #E07048;
}
.productdetail .wrap>h2{
    font-size:40px;
    color: #E07048;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #8883;
}
.productdetail .wrap .photo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.productdetail .wrap .photo>img{
    width: 90%;
}
.productdetail .small img{
    cursor: pointer;
}
.productdetail .small img:hover{
    transform: scale(1.1);
}
.discribe{
    width: 90%;
    margin: auto;
}
.discribe h2{
    font-size:40px;
    color: #E07048;
    text-align: center;
    padding-bottom: 20px;
    display: none;
}
.discribe p:nth-child(2){
    font-size:34px;
    font-weight:bold;
    text-align: center;
    padding: 1em 0 1em;
    letter-spacing: 1px;
    color: #fff;
    border-top: 1px solid #8883;
}
.discribe .item{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}
.discribe .item a{
    text-decoration: none;
    padding: 0 1em 0 0em;
}
.discribe .item a span{
    color: #ccc;
    font-size: 18px;
}
.discribe .item a:hover span{
    color: #E07048;
    font-size: 20px;
    align-items: center;
    transition: 0.1s;
}
.discribe .item img{
    width: 35px;
    padding: 0 0.5em 0em 0.5em;
    vertical-align: middle;
    transition: 0.3s;
}
.discribe .item a:first-child:hover img{
    content: url(../IMG/icon_chat_hover.png);
    transform: scale(1.1);
}
.discribe .item a:last-child:hover img{
    content: url(../IMG/icon_heart_hover.png);
    transform: scale(1.1);
}
.discribe p:last-child{
    font-size:14px;
    padding: 1em 0 1em;
    letter-spacing: 3px;
    line-height: 2;
    color: #ccc;
    border-top: 1px solid #8883;
}
.recomand>h2{
    font-size: 24px;
    color: #ddd;
    text-align: center;
    padding: 3em 0;
    border-top:1px solid #8883
}
.recomand .owl-carousel .owl-item img {
    height: 100px;
    display: block;
    margin: auto;
    width: auto;
}
.card_rel{
    flex-direction: column;
}
.card_rel h3{
    color: #bbb;
    font-size: 18px;
    padding-bottom: 0.5em;
    text-align: center;
}
.card_rel p{
    color: #888;
    font-size: 14px;
    text-align: center;
}
@media screen and (min-width:1200px){
    .breadpath{
        position: absolute;
        top: 5%;
    }
    .productdetail .wrap{
        padding-top: 1%;
        display: flex;
    }
    .productdetail .wrap>h2{
        display: none;
    }
    .discribe h2{
        font-size:40px;
        color: #E07048;
        text-align:left;
        padding-bottom: 20px;
        display: flex;
    }
    .discribe p:nth-child(2){
        text-align: left;
        padding: 0em 0 1em;
        border-top: 0px;
        font-size: 36px;
    }
    .discribe .item{
        justify-content: start;
    }
    .recomand .owl-carousel .owl-item img {
        height: 150px;
        display: block;
        margin: auto;
        width: auto;
    }
    .recomand>h2{
        font-size: 30px;
    }
    .card_rel h3{
        color: #bbb;
        font-size: 24px;
        padding-bottom: 1em;
        text-align: center;
    }
    .card_rel p{
        color: #888;
        font-size: 20px;
        text-align: center;
    }
}

