*{
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans TC', sans-serif;
}
.homepage{
    width: 100%;
    background:linear-gradient(to bottom,#111,#555,#333,#555,#333,#444);
}
#menu_control{
    display: none;
}
.wrap{
    margin: auto;
    width: 100%;
    align-items: center;
    /* background-color: #222; */
    position: relative;
}
.wrap .logo img{
    width: 150px;
    padding:5px 0 0 10px;
    box-sizing: border-box;
}
.menu_btn{
    width: 40px;
    height: 36px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 10px;
    bottom:0;
    margin:auto;
}
.menu_btn::before{
    content: '';
    position: absolute;
    width: 36px;
    height: 2px;
    background-color: #fff;
    top: 0;
    left: 2px;
    bottom:0;
    margin:auto;
    box-shadow: 0px 8px 0px #fff,
                0px -8px 0px #fff;
}
.menu_btn span{
    opacity: 0;
}
nav{
    height:calc(100vh - 60px) ;
    background-color: #555;  
    position: absolute;
    top: 60px;
    right: -100%; 
    transition: .5s;
}
nav a{
    display: block;
    text-decoration: none;
    color: #ddd;
    font-size: 16px;
    border-bottom: 2px #ddd3 solid;
    padding: 10px 20px;
}
nav .search a{
    padding: 10px 0px 10px 20px;
    border-bottom: 0px;
}
nav a:hover{
   color: #E07048;
}
nav .search{
    display: flex;
    align-items: center;
    border-bottom: 1px #ddd3 solid;
    padding: 10px 10px 10px 20px;
}
nav .search input{
    width: 100%;
    height: 25px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #333;
}
nav img{
    width: 25px;
    display: inline;
    vertical-align: middle;
    padding-right: 10px;
    transition: .3s;
}
#menu_control:checked ~ .wrap nav{
    right: 0px;
}
.header .wrap nav  a:nth-child(7):hover img{
    transform: scale(1.1);
    width: 25px;
    content: url(IMG/icon_member_hover.png);
}
.header .wrap a:nth-child(8):hover img{
    transform: scale(1.1);
    width: 25px;
    content: url(IMG/icon_heart_hover.png);
}
.header .wrap a:nth-child(9):hover img{
    transform: scale(1.1);
    width: 25px;
    content: url(IMG/icon_chat_hover.png);
}
@media screen and (min-width:768px) {
    .wrap{
        max-width: 1400px;
    }
    .menu_btn{
        display: none;
    }

    .wrap{
        display: flex;
        margin: auto;
        justify-content: space-between;
    }
    nav{
        position: relative;
        display: flex;
        width: auto;
        height: auto;
        align-items: center;
        top: 0px;
        right: 0px;
        background-color: transparent;
    }
    nav a{
        border-bottom: none;
        padding: 5px;
    }
    nav .search{
        border-bottom: none;
    }
    nav .search img{
        padding-right: 10px;
    }
    nav img{
        padding-right: 0px;
    }
    nav span{
        display: none;
    }
  































