*{
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans TC', sans-serif;
}
.home{
    width: 100%;
    background:linear-gradient(to bottom,#111,#555,#333,#555,#333,#444);
}
.header{
    position: fixed;
    z-index: 2;
}   
.header .wrap{
    width: 90%;
    display: flex;
    align-items: center;
    padding-top: 10px;
    position: fixed;
    z-index: 1;
    right: 0px;
    left: 0px;
    margin: auto ;
}
.header .wrap img:first-child{
    width: 150px;
}
.header .wrap ul{
    display: flex;
    margin-left:2em ;
    flex-grow: 1;
}
.header .wrap li{
    text-decoration: none;
    margin: 0px 10px;
}
.header .wrap li::marker{
    color: transparent;
}
.header .wrap li a{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}
.header .wrap li a:hover{
    color: #E07048;
    border-bottom: #E07048 2px solid;
}
.header .wrap .memberlist{
    display: flex;
    align-items: center;
}
.header .wrap .memberlist img{
    width: 25px;
    margin-right: 1em;
    vertical-align: middle;
}
.memberlist input{
    border: 1px solid #ddd4;
    background-color: transparent;
    border-radius: 5px;
    color: #ddd;
    margin-right: 1em;
    line-height: 20px;
}
.memberlist .icon a{  
    text-decoration: none;
}
.header .memberlist a:nth-child(3):hover{
    transform: scale(1.1);
    width: 25px;
    margin-right: 1em;
    content: url(IMG/icon_member_hover.png);
}
.header .wrap .memberlist a:nth-child(4):hover{
    transform: scale(1.1);
    width: 25px;
    margin-right: 1em;
    content: url(IMG/icon_heart_hover.png);
}
.header .wrap .memberlist a:nth-child(5):hover{
    transform: scale(1.1);
    width: 25px;
    margin-right: 1em;
    content: url(IMG/icon_chat_hover.png);
}
.ad{
    max-width: 1400px;
    margin: auto;
    padding-bottom: 5em;
}
.ad .wrap{
    width: 90%;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
}
.ad .adcontent{
    width: 100%;
    overflow: hidden;
}
.ad .adswitch label{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
}
.ad .item{
    width: 100%;
    align-items: center;
    margin: auto;
}
#ad-lens:checked ~ .adlens{
    display: block;
}
#ad-camera:checked ~ .adcamera{
    display: block;
}
.ad .item img{
    width:100%;
    vertical-align: middle;
}
.ad .text{
    left: 0px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 10%;
}
.ad .text .button a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    border-radius: 10px;
    padding: 5px 15px;
}
.ad .text .button a:first-child{
    font-size: 20px;
    background-color: transparent ;
    border:1px solid #888
}
.ad .text .button a:first-child:hover{
    background-color: #888 ;
}
.ad .text .button a:last-child{
    font-size: 20px;
    background-color: #888 ;
}
.ad .text .button a:last-child:hover{
    background-color: #E07048;
}
.ad h2{
    color: #eee;
    font-size: 24px;
    padding: 10px;
    letter-spacing: 3px;
}
.ad p{
    color: #eee;
    font-size: 14px;
    padding: 20px 10px 20px;
    letter-spacing: 3px;
}


.belief{
    /* background:linear-gradient(to bottom,#222,#333 );; */
    /* padding-bottom: 5em; */
    max-width: 1400px;
    margin: auto;
}
.belief .wrap{
    width: 90%;
    margin: auto;
    padding: 80px 0px 0px;
}
.belief .wrap h2{
    text-align: center;
    color: #ddd;
    font-size: 36px;
    padding: 0px 0px 40px;
    position: relative;
}
.belief .logo{
    display: block;
}
.belief .logo .row{
    display: flex;
   align-items: center;
   justify-content: space-around;
}
.belief .logo a{
    width: 150px;
}
.belief .logo img{
    width: 150px;
}
.belief .logo .row:first-child a:nth-child(1):hover{
    content: url('IMG/Logo_sony_hover.png');
}
.belief .logo .row:first-child  a:nth-child(2):hover{
    content: url('IMG/Logo_canon_hover.png');
}
.belief .logo .row:first-child a:nth-child(3):hover{
    content: url('IMG/Logo_nikon_hover.png');
}
.belief .logo .row:first-child  a:nth-child(4):hover{
    content: url('IMG/Logo_fujifilm_hover.png');
}
.belief .logo .row:first-child  a:nth-child(5):hover{
    content: url('IMG/Logo_gopro_hover.png');
}
.belief .logo .row:first-child  a:nth-child(6):hover{
    content: url('IMG/Logo_olympus_hover.png');
}
.belief .logo .row:last-child a:nth-child(1):hover{
    content: url('IMG/Logo_hasselblad_hover.png');
}
.belief .logo .row:last-child a:nth-child(2):hover{
    content: url('IMG/Logo_lumix_hover.png');
}
.belief .logo .row:last-child a:nth-child(3):hover{
    content: url('IMG/Logo_sigma_hover.png');
}
.belief .logo .row:last-child a:nth-child(4):hover{
    content: url('IMG/Logo_dji_hover.png');
}
.belief .logo .row:last-child a:nth-child(5):hover{
    content: url('IMG/Logo_tamron_hover.png');
}
.belief .logo .row:last-child a:nth-child(6):hover{
    content: url('IMG/Logo_leica_hover.png');
}

.type{
    max-width: 1400px;
    margin: auto;
    padding-bottom: 5em;
}
.type .wrap{
    width: 90%;
    margin: auto;
    padding: 80px 0px 0px;
}
.type .wrap h2{
    text-align: center;
    color: #ddd;
    font-size: 36px;
    padding: 0px 0px 80px;
    position: relative;
}
.type .wrap .cardlist{
    display: flex;
    justify-content: space-around;
}
.type .wrap .cardlist a{
    text-decoration: none;
}
.type .wrap .cardlist a:hover{
    transform: scale(1.1);
}
.type .wrap .cardlist .card{
    display: flex;
    width: 180px;
    height: 100px;
    background-color: #bbb3;
    border-radius: 10px;
    border-top-right-radius: 50px;
    align-items: center;
    color: #fff;
    position: relative;
}
.type .wrap .cardlist .card h3{
    padding: 0px 0px 0px 1em;
}
.type .wrap .cardlist .card img{
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 70%;
    z-index: 1;
}
.product{
    max-width: 1400px;
    margin: auto;
    padding-bottom: 10em;
}
.product .wrap{
    width: 90%;
    margin: auto;
    padding: 80px 0px 0px;
}
.product .wrap h2{
    text-align: center;
    color: #ddd;
    font-size: 36px;
    padding: 0px 0px 80px;
}
.cardlist{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-evenly;
}
.card_used,
.card_new{
    width: 250px;
    /* border: #111 1px solid; */
    justify-content: center;
    flex-direction: column;
    margin:0px 5% 5%; 
}
.card_used .picture,
.card_new .picture{
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd4;
}
.card_used .picture a img,
.card_new .picture a img{
    width: 100%;
}
.card_used .picture a img:hover{
    transform: scale(1.1);
}
.card_new .picture a img:hover{
    transform: scale(1.1);
}
.cardlist .tag{
    display: flex;
    flex-wrap: wrap;
    margin: 1em 0px 1em;
    justify-content: space-evenly;
}
 .cardlist .tag a{
    text-decoration: none;
    padding: 0px 0.5em;
    margin: 0 0 0.5em;
    font-size: 14px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 100px;
    vertical-align: baseline;
}
.cardlist .tag a:hover{
    transform: scale(1.1);
}
.card_used .tag a:first-child{
    text-decoration: none;
    border: 0px ;
    color: #fff;
    background-color: #E07048;
}
.card_new .tag a:first-child{
    text-decoration: none;
    border: 0px ;
    color: #fff;
    background-color: #216D94 ;
}

.cardlist h3{
    height: 60px;
    text-align: start;
    font-size: 16px;
    line-height: 25px;
    color: #fff;
    letter-spacing: 1px;
    box-sizing: border-box;
}
.cardlist .card_used  h4{
    text-align: start;
    font-size: 24px;
    color: #E07048;
    font-weight: bold;
}
.cardlist .card_new h4{
    text-align: start;
    font-size: 24px;
    color: #35b0ee ;
    font-weight: bold;
}
.cardlist .wanted{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 1em 0px 0px;
}
.cardlist .wanted img{
    height: 30px;
    width: 30px;
}
.cardlist .wanted img:hover{
    cursor: pointer;
}
.cardlist .wanted img:active{
    content: url(IMG/icon_heart_hover.png);
}
.product .more{
    display: flex;
    justify-content: center;
}
.product .more a{
   text-decoration: none;
   font-size: 24px;
   color: #fff;
   background-color: #222;
   border-radius: 10px;
   padding: 5px 15px;
}
.product .more a:hover{ 
    color: #222;
    background-color: #fff;
 }
.article{
    padding-bottom: 10em;
}
.article .wrap{
    width: 90%;
    margin: auto;
    padding: 100px 0px 15px;
    flex-direction: column;
}
.article .wrap h2{
    text-align: center;
    color: #ddd;
    font-size: 36px;
    padding: 0px 0px 80px;
}
.article .wrap .item_col,
.article .wrap .item_row{
    width: 80%;
    display: flex;
    margin: auto;
    margin-bottom: 5em;
    align-items: center;
    position: relative;
}
.article .wrap .item_col img{
    width: 400px;
}
.article .wrap .item_row img{
    width: 600px;
}
.article .text{
   margin: 1em;
}
.article .item_col .text::after{
    content: '';
    width: 60%;
    height: 48%;
    border: 5px solid #ff6a346b;
    position: absolute;
    top: 10%;
    left: 20%;
    z-index: 0;
 }
 .article .item_row .text::after{
    content: '';
    width: 70%;
    height: 70%;
    border: 5px solid #e07048c7;
    position: absolute;
    top: 10%;
    right: 0%;
    z-index: 0;
 }
 .article .item_col img,
 .article .item_row img{
    position: relative;
    z-index: 1;
 }
.article .text h3{
    padding: 0px 5px 1em;
    text-align: start;
    font-size: 24px;
    color: #fff;
    letter-spacing: 2px;
}
.article .text p{
    padding: 0px 5px 3em;
    text-align: start;
    font-size: 16px;
    color: #fff;
    letter-spacing: 2px;
  
}
.article a{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    background-color: #888;
    border-radius: 10px;
    padding: 5px 15px;
 }
 .article a:hover{ 
     color: #222;
     background-color: #E07048;
  }
.article .more{
    display: flex;
    justify-content: center;
}
.article .more a{
   text-decoration: none;
   font-size: 24px;
   color: #fff;
   background-color: #222;
   border-radius: 10px;
   padding: 5px 15px;
}
.article .more a:hover{ 
    color: #222;
    background-color: #fff;
 }
 .footer{
    width: 100%;
    background-color: #222; 
} 
.footer .wrap{
    width: 90%;
    margin: auto;
    padding: 50px 0px 15px;
    position: relative;
}
.footer a img{
    width: 80px;
    position: absolute;
    top: 20%;
    left: 10%;
}
.footer .wrap ul{
    display: flex;
    margin-left:2em ;
    flex-grow: 1;
    justify-content: center;
    padding: 0px 0px 50px;
}
.footer .wrap li{
    text-decoration: none;
    margin: 0px 1em;
}
.footer .wrap li::marker{
    color: transparent;
}
.footer .wrap li a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}
.footer .wrap li a:hover{
    color: #E07048;
    border-bottom: #E07048 2px solid;
}
.footer p{
    text-align: center;
    color: #fff1;
}
.BELIEFPAGE{
    width: 100%;
    background: linear-gradient(to bottom,#111,#333);
}
.filter{
    width: 1400px;
    margin: auto;
    display: flex;
    padding:0 5% 0;
}
.filter .wrap{
    margin-top: 8%;
    padding-left: 2em;
    width: 20%;
    /* border: 1px solid #fff; */
    flex-direction: column;
    color: #aaa;
    font-size: 18px;
}
.filter .wrap h2{
    font-size: 30px;
    color: #fff;
 }
.filter .wrap h3{
   font-size: 24px;
   padding: 1em 0px;
   color: #ddd;
}
.filter .overview{
    margin-top: 5%;
    border-top-left-radius: 200px;
    background-color: #aaa1;
}
.overview ul{
    display: flex;
    justify-content: center;
    padding-bottom:3em ;
}
.overview ul:before{
    content: '';
    height: 0;
    width: 0;
    border-top: 10px solid transparent  ;
    border-bottom: 10px solid  transparent;
    border-right: 10px solid #ddd  ; 
}
.overview ul:after{
    content: '';
    height: 0;
    width: 0;
    border-top: 10px solid transparent  ;
    border-bottom: 10px solid  transparent;
    border-left: 10px solid #ddd  ; 
}
.overview li::marker{
    color: transparent;
}
.overview li a{
    text-decoration: none;
    font-size: 18px;
    color: #eee9;
    padding: 0px 10px;
}
.overview li a:hover{
    color:#E07048;
}
.DETAILPAGE{
    width: 100%;
    background: linear-gradient(to bottom,#111,#333);
}
.productdetail{
    max-width: 1600px;
    margin: auto;
    position: relative;
}
.productdetail::before{
    content: '';
    width: 40%;
    height:80%;
    border-top-right-radius: 250px;
    background-color: #ddd3;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 0;
}
.productdetail .wrap{
    display: flex;
    width: 80%;
    padding-top: 10%; 
    padding-bottom:1%;
    margin: auto;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd3;
    position: relative;
}
.productdetail .wrap .breadpath{
    position: absolute;
    top: 15%;
}
.productdetail .wrap .breadpath ol{
    display: flex;
}
.productdetail .wrap .breadpath ol li{
    color: #fff;
    list-style: none;
    flex-shrink: 0;
}
.productdetail .wrap .breadpath ol li a{
    text-decoration: none;
    color: #ddd6;
    font-size: 16px;
    vertical-align: middle;
}
.productdetail .wrap .breadpath ol li a:hover{
    color: #E07048;
}
.productdetail .wrap .photo{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.productdetail .wrap .photo>img{
    width: 90%;
    border-right: 1px solid #ddd1;
}
.productdetail .wrap .photo .item{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}
.productdetail .wrap .photo .item img{
    cursor: pointer;
    width: 100px;
    padding: 0 1em 0;
}
.productdetail .wrap .photo .item img:hover{
    transform: scale(1.1);
}
.productdetail .wrap .discribe{
    margin: auto;
}
.discribe{
    width: 40%;
}
.discribe h2{
    font-size:46px;
    color: #E07048;
    padding: 0 0 0.5em;
}
.discribe .price{
  display: flex;
  align-items: baseline;
}
/* .discribe .price h2{
    font-size:16px;
    color: #1118;
    padding: 0 1em 0.5em 0em ;
} */
.discribe h3{
    font-size: 40px;
    padding: 0 0 1em;
    color: #ddd;
}
.discribe .item{
    display: flex;
}
.discribe .item a{
    text-decoration: none;
    color: #ddd;
    font-size: 20px;
    padding: 0 1em 0 0em;
}
.discribe .item a:hover{
    color: #E07048;
    font-size: 20px;
    padding: 0 1em 0 0em;
}

.discribe .item img{
    width: 40px;
    padding: 0 0.5em 0em 0em;
    vertical-align: middle;
}
.discribe p{
    font-size: 16px;
    padding: 2em 0 1em;
    letter-spacing: 1px;
    line-height: 24px;
    color: #aaa;
}
.discribe p:first-letter{
    color:#aaa;
    font-size:30px;
    font-weight:bold;
}
.relative{
    width: 90%;
    margin: auto;
    padding-top: 10%;
    position: relative;
    display: block;
    padding-bottom: 5%;
}
.relative h2{
    color: #ddd;
    font-size: 30px;
    padding-bottom: 1em;
    text-align: center;
    position: relative;
}
.card_rel_list{
    display: flex;
    justify-content: space-evenly ;
}
.card_rel{
    width: 200px;
    justify-content: center;
}
.card_rel .picture{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid #ddd3;
}
.card_rel .picture img{
    width: 100%;
}
.card_rel .picture a img:hover{
    transform: scale(1.1);
}
.card_rel h3{
    font-size: 18px;
    color: #ddd;
    padding-top: 1em;
    padding-bottom: 0.5em;
    text-align: center;
}
.card_rel h4{
    font-size: 24px;
    color: #E07048;
    text-align: center;
}
.ARTICLEPAGE{
    width: 100%;
    background: linear-gradient(to bottom right,#222,#666);
}
.articlepage{
    width: 1400px;
    margin: auto;
    justify-content: center;
    display: flex;
}
.articlepage_filter{
    width: 10%;
    padding-top: 10%;
    position: relative;
}
.articlepage_filter h2{
    color: #fff;
    font-size: 20px;
    padding-bottom: 1em;
}
.articlepage_filter ul{
    list-style: none;
    padding-bottom: 2em;
}
.articlepage_filter ul a{
    text-decoration: none;
    color: #ddd;
    line-height: 2;
} 
.articlepage_filter ul a:hover{
    color: #E07048;
    border-left: 3px solid #E07048;
    border-right: 3px solid #E07048;
} 
.articlepage_filter .more{
    text-decoration: none;
    font-size: 12px;
    color: #222;
    background-color: #ddd;
    border-radius: 10px;
    padding: 5px 15px;
 }
.articlepage_filter .more:hover{ 
    color: #ddd;
    background-color: #E07048;
 }
.sunmoon{
    width: 80%;
    padding-top: 5%;
    background-color: #fff1;
}
.sunmoon .headimg{
    width: 100%;
}
.sunmoon .headimg img{
    width: 100%;
    vertical-align: middle;
}
.sunmoon .title{
    position: absolute;
    top: -160px;
    width: 100%;
    background-color: #ddd;
    border-top-left-radius:50px;
}
.sunmoon .title .author{
    width: 40%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 1em 0 1em ;
    margin: auto;
    border-top: 1px solid #0008;
}
.sunmoon .title .author img{
    height: 20px;
}
.sunmoon .title .author a{
    text-decoration: none;
    color: #2224;
}
.sunmoon .title .author a:hover{
    color: #E07048;
}
.sunmoon .title .author p{
    padding-left: 10em;
    padding-right: 20em;
    font-size: 1px;
    letter-spacing: 1px;
    color: #2224;
    box-sizing: border-box;
}
.sunmoon .title h2{
    text-align: center;
    color: #111;
    font-size: 50px;
    padding: 1em 0 0.5em;
}
.sunmoon .row{
    width: 90%;
    padding: 3em 0;
    margin: auto;
    background-color: rgb(192, 192, 192);
    position: relative;
    border-bottom-right-radius:50px;
}
.sunmoon article{
    padding: 0 5%;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}
.sunmoon article .rowitem{
    margin: 10px 0;
}
.sunmoon article p{
    font-size: 16px;
    letter-spacing: 3px;
    line-height: 1.5;
    color: #111;
}
.sunmoon article .pic{
    width: 100%;
    margin: auto;
}
.sunmoon article .pic img{
    width: 100%;
    box-shadow: 10px 10px 0px  #216D94  ;
}
.sunmoon article .pic h2{
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    color: #1117;
    padding: 0.5em 0 1.5em ;
}
.sunmoon article .item .txt h2{
    font-size: 18px;
    color: #222;
    padding: 0.5em 0;
    display: inline-block;
}
.sunmoon article .item .txt h2::first-letter{
    font-size: 24px;
    color:#E07048 ;
}
.sunmoon article .item{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}
.sunmoon article .item .pic{
    width: 50%;
}
.sunmoon article .item .pic img{
    vertical-align: middle;
    box-shadow: -10px 12px 0px #E07048;
}
.sunmoon article .item .txt{
    width: 50%;
}
.sunmoon article .item:nth-of-type(even){
    flex-direction: row-reverse;
}
.sunmoon article .item:nth-of-type(even) .txt{
    padding-right: 10px;
    box-sizing: border-box;
}
.sunmoon article .item:nth-of-type(odd) .txt{
    padding-left: 10px;
    box-sizing: border-box;
}
.sunmoon article ul{
    display: flex;
    justify-content: end;

}
.sunmoon article li{
    list-style: none;
}
.sunmoon article li img{
    width: 25px;
    padding-right: 15px;
    
}
.sunmoon article li img:hover{
    transform: scale(1.5);
    transition: .5s;
}



























/* .sunmoon .itemfloat{
    width: 100%;
    padding: 1em 3em;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.sunmoon .itemfloat img{
    width: 70%;
    float: left;
    padding: 0em 1em 1em 0em;
    box-sizing: border-box;
    position:relative;
    z-index: 1;
}
.sunmoon .itemfloat p{
    position:relative;
}
.sunmoon .itemfloat p::after{
   content: '';
   width: 600px;
   height: 300px;
   border: 4px solid #e07048a1;
   position:absolute;
   top: 10%;
   left: 20%;
   z-index: 0;
}
.sunmoon .row .item{
    width: 100%;
    padding: 1em 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
} 
.sunmoon .row .item .pic{
    width: 70%;
}
.sunmoon .row .item .pic img{
    width: 100%;
    box-shadow: 10px 8px 0px #e08969;
                /* -8px -15px 0px #f77b4e8e; }
.sunmoon .item:nth-of-type(even){
    flex-direction: row-reverse;
}
.sunmoon .item:nth-of-type(odd) .txt{
    padding-left: 1em;
    box-sizing: border-box;
}
.sunmoon .item:nth-of-type(even) .txt{
    padding-right: 1em;
    box-sizing: border-box;
} */
.PORTFOLIOPAGE{
    width: 100%;
    background: linear-gradient(to bottom right,#222,#666);
}
.portfolio{
    max-width: 1400px;
    margin: auto;
}
.portfolio .wrap{
    width: 90%;
    margin: auto;
    padding-top: 5%;
}
.portfolio .backimg_bwroad{
    height: 80vh;
    background: url("IMG/portfolio_bgcimg_bwroad.jpg");
    background-size:cover;
    background-position: top center;
    background-attachment: fixed;
}
.portfolio .backimg_sakura{
    height: 80vh;
    background: url("IMG/portfolio_bgcimg_cat.jpg");
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;   
}
.portfolio .backimg_star{
    height: 80vh;
    background: url("IMG/portfolio_bgcimg_star.jpg");
    background-size:cover;
    background-position: bottom center;
    background-attachment: fixed;
}
[class*=backimg_]{
    display: flex;
    align-items: center;
    justify-content: center;
}
[class*=backimg_] h2{
    font-size: 50px;
    color: transparent;
    /* -webkit-text-stroke: 1px #fff; */
    color: rgba(255, 255, 255, 0.801);
}
.portfolio .waterfall{
    column-count: 5;
    column-gap: 5px;
    padding-top: 1em;
    padding-bottom: 5em;
    background-color: #ddd2;
}
.portfolio .waterfall .pic{
    margin-bottom: 1px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.portfolio .waterfall .pic img{
    width: 100%;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #0008;
    padding: 1em;
    box-sizing: border-box;
    overflow: hidden;
}
.waterfall .pic:hover .overlay {
    opacity: 1;
    left:0
} 
.overlay h2{
    color: #fff;
    padding-bottom: 1em;
}
.overlay p{
    color: #fff;
}
.MAPPAGE{
    width: 100%;
    background: linear-gradient(to bottom right,#222,#666);
}
.map{
    max-width: 1400px;
    margin: auto;
    display: flex;
    padding-top: 5%;    
    justify-content: center ;
    align-items: center;
    flex-direction: row-reverse;
}
.map .location{
    display: flex;
    padding: 1em 2em;
    box-sizing: border-box;
    /* background: linear-gradient(to bottom right,#fff3,#6663); */
}
.map .location  select{
    font-size: 20px;
    margin-top: 20%;
    padding: 5px;
    border-radius: 5px;
    color: #555;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.89);
}
.map .location .select .icon img{
    display: block;
    flex-wrap: wrap;
    height: 35px;
}
.map .location .select .icon{
    display: flex;
    align-items: center;
    padding-top: 1.5em;
}
.map .location .select .icon p{
    padding-left: 5%;
    color: #ddd;
    font-size: 16px;
    font-weight: bold;
}
.map .location option{
    font-size: 16px;
    color: #444;
}
.locationchoose{
    display: none;
}
.map .location .item{
    position: relative;
    display: flex;
    justify-content: center;
}
.map .location .item .bgcmap{
    width: 80%;
}
.day p,.night p,.daytonight p{
    padding:5px;
    color: #eee;
    font-weight: bold;
    background-color: #2228;
    border-radius: 10px;
    cursor: pointer;
}
.day img,.night img,.daytonight img{
    height: 35px;
    cursor: pointer;
}
.locationmark label{
    display: flex;
    flex-shrink: 0;
}
.locationmark label:hover{
    transform: scale(1.1);
}
.map .hotel{
    position: absolute;
    top:42%;
    left:40%;
}
.map .mountain{
    position: absolute;
    top:20%;
    left:40%;
}
.map .riverbank{
    position: absolute;
    top: 58%;
    left:25%;
}
.map .taipei101{
    position: absolute;
    top: 65%;
    left:52%;
}
.map .danapark{
    position: absolute;
    top: 70%;
    left:38%;
}
.map .bopiliao{
    position: absolute;
    top: 70%;
    left:25%;
}
.map .dahupark{
    position: absolute;
    top:48%;
    left:55%;
}
.map .jiantanmountain{
    position: absolute;
    top:48%;
    left:42%;
}
.map .airport{
    position: absolute;
    top:55%;
    left:45%; 
}
.map .zoo{
    position: absolute;
    top:80%;
    left:56%; 
}
.map .fourseason{
    position: absolute;
    top:35%;
    left:35%;
}
.map .card {
    width: 40%;
    /* background:linear-gradient(to bottom,#ddd8,#ddd5 ); */
    /* border: 5px solid #ddd; */
    /* box-shadow: 0 0 10px #222; */
    margin-left: 1%;
    box-sizing: border-box;
    display: none;
}
#riverbank:checked ~ .cardriverbank{
    display: block; 
}
#hotel:checked ~ .cardhotel{
    display: block;
}
.map .card h2{
    text-align: center;
    padding: 0.5em 0;
    color:#fff;
    font-size: 30px;
}
.map .card h2:nth-child(1){
    border-bottom: 3px solid #8888;
 }
.map .card h2:nth-child(3){
   border-top: 2px solid #8888;
}
.map .card p{
    flex-shrink: 0;
 }
 
.map .list{
    width: 100%;
    display: flex;
    position:relative;
}
.map .list:after{
    content: '';
    height: 80%;
    width: 1px;
    background:#8888;
    position:absolute;
    left: 50%;
}
.map .list .item{
    width: 50%;
}
.map .list .item .pic{
    width: 80%;
    height: 70%;
    overflow: hidden;
    margin: auto;
    flex-grow: 1;
    border-radius: 10px;
}
.map .list .item .pic img{
    height: 100%;
    width: 100%;
}
.map .list .item .txt{
    text-align: center;
    padding: 10px 0px 0;
    box-sizing: border-box;
}
.map .list .item .txt h3{
    color: #fff;
    font-size: 20px;
}
.map .list .item .txt p{
    color: #ddd;
    font-size: 16px; 
}
/* background:linear-gradient(to left,#216D94,#5f9dbe);
background:linear-gradient(to right,#E07048,#d3947d); */
.map .equipment .item{
    display: flex;
    align-items: center;
    width: 100%;
}
.map .card .equipment .pic{
    width: 50%;
    height: 50%;
    overflow: hidden;
 }
 .map .card .equipment .pic img{
    width: 100%;
 }
.map .equipment .txt{
    width: 50%;
    position: relative;
}
.map .equipment .txt h3{
    font-size: 20px;
    color: #ddd;
}
.map .equipment .txt p{
    font-size: 16px;
    color: #eee8;
    padding-top: 1em;
}
.map .equipment a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    background-color: #222;
    border-radius: 10px;
    padding: 5px 15px;
    position: absolute;
    top: 0px;
    right: 0px;
}
.map .equipment a:hover{ 
    color: #fff;
    background-color: #E07048;
 }
.CHATPAGE{
    width: 100%;
    background: linear-gradient(to bottom right,#222,#666);
}
.chatbox{
    max-width: 1400px;
    margin: auto;    
    display: flex;
    padding-top: 5%;
    justify-content: center ;
    align-items: center;
}
.list{
    width: 30%;
    /* background-color: #ddd8; */
    padding: 2em 1em;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 1%;
}
.listchoose{
    display: none;
}
.tab{
    width: 100%;
    display: flex;
}
.tab label {
    text-align: center;
    display:inline-block;
    padding: 10px 20px;
    width: 50%;
    border-bottom:none;
    background-color: #aaa;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    font-size: 24px;
    color: #ddd;
}
.content{
    display:none;
} 
#wanted:checked ~ .tab [for="wanted"]{
    background-color: #E07048;
} 
#sell:checked ~ .tab [for="sell"]{
    background-color: #216D94 ;
}
#wanted:checked ~ .content_group .wantedbox,
#sell:checked ~ .content_group .sellbox{
    display:block
}
.content .item{
    display: flex;
    align-items: center;
    padding: 1% 2%;
}
.content .item .pic{
    padding-right: 3%;
}
.content .item img{
    vertical-align: middle;
    width: 65px;
}
.content .item .txt{
    flex-grow: 1;
}
.content .item .txt h2{
    font-size: 20px;
    color: #000;
    padding: 1% 0px;
}
.content .item .txt p{
    font-size: 16px;
    color: #111;
    padding: 1% 0px;
}
.content .item .date{
    color: #4445;
}
.wantedbox{
    height: 90vh;
    overflow-y:scroll ;
    box-sizing: border-box;
    background-color: #bbb;
    box-shadow: 0px 2px 10px #E07048;
}
.sellbox{
    height: 90vh;
    overflow-y:scroll ;
    box-sizing: border-box;
    background-color: #bbb;
    box-shadow: 0px 2px 10px #216D94 ;
}
.wantedbox .item:nth-of-type(odd){
    background-color: #e07048c0;
}
.wantedbox .item:nth-of-type(even){
    background-color: #ccc;
}
.sellbox .item:nth-of-type(odd){
    background-color: #216D94 ;
}
.sellbox .item:nth-of-type(even){
    background-color: #ddd ;
}
.mailbox{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.thumbnail{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1% 2%;
    background-color: #bbb;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    /* border-top: 5px solid #E07048;
    border-left: 5px solid #E07048;
    border-right:5px solid #E07048; */
    box-sizing: border-box;
}
.thumbnail .pic{
    width: 10%;
    justify-content: center;
}
.thumbnail .pic img{
    width: 100%
    /* position: absolute; */
}
.titleprice{
    padding-left: 1%;
    flex-grow: 1;
}
.thumbnail .titleprice h2{
    font-size: 24px;
    color:#555 ;
}
.thumbnail .titleprice h3{
    font-size: 30px;
    color:#E07048;
}
.dealprice{
    display: flex;
    align-items: center;
    vertical-align: middle;
    padding-right: 5%;
}
.dealprice p{
    font-size: 24px;
    color: #222;
    font-weight: bold;
    flex-shrink: 0;
}
.dealprice input {
    font-size: 20px;
    margin: 0 1% 0 3%;
}
.dealprice a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    background-color: #222;
    border-radius: 10px;
    padding: 5px 15px;
}
.dealprice a:hover{
    background-color: #E07048;
}
.dialogue{
    width: 100%;
    height: 70vh;
    background-color: #ddd;
    /* border-top: 5px solid #E07048;
    border-left: 5px solid #E07048;
    border-right:5px solid #E07048;
    border-bottom: 1px solid #E07048; */
    padding: 2% 0 ;
    overflow-y: scroll;
    box-sizing: border-box;
}
.user{
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}
.local{
    flex-direction: row-reverse;
}
.user .avatar{
    width: 70px;
    text-align: center;
    flex-shrink: 0;
    padding: 0px 3%;
}
.user .pic{
    border-radius: 50%;
    margin-bottom: 10px;
    overflow: hidden;
}
.user .name{
    color: #555;
}
.user .pic img{
    width: 100%;
    vertical-align: middle;
}
.remote .txt{
    background-color:#bbb ;
    margin-left: 10px;
    margin-right: 180px;
    padding:2% 3%;
    font-size: 18px;
    color: #333;
    letter-spacing: 3px;
    line-height: 1.5;
    border-radius: 16px;
    box-sizing: border-box;
    position: relative;
}
.remote .txt::before{
    content: '';
    border-right: 20px solid #bbb;
    border-top: 15px solid transparent;
    border-bottom:15px solid transparent;
    position: absolute;
    top: 20%;
    right: 100%;
}
.local .txt{
    background-color: #ff8153;
    margin-left: 180px;
    margin-right: 10px;
    padding:2% 3%;
    font-size: 18px;
    color: #fff;
    letter-spacing: 3px;
    line-height: 1.5;
    border-radius: 16px;
    box-sizing: border-box;
    position: relative;
}
.local .txt:after{
    content: '';
    border-left: 20px solid #ff8153;
    border-top: 15px solid transparent;
    border-bottom:15px solid transparent;
    position: absolute;
    top: 20%;
    left: 100%;
}
.send{
    width: 100%;
    line-height: 30px;
    padding: 1%;
    margin: auto;
    display: flex;
    background-color: #fff;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    /* border-left: 5px solid #E07048;
    border-right:5px solid #E07048;
    border-bottom: 5px solid #E07048; */
}
.send .conversation{
    width: 80%;
    vertical-align: middle;
    font-size: 24px;
    border: transparent;
    color:#222;
    background-color: transparent;
    border-radius: 5px;
    line-height: 24px;
    margin: 0 3%;
}
.send img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.send img:hover{
    width: 40px;
    height: 40px;
    content: url(IMG/icon_image_hover_wanted.png);
}



































